h2{
    font-weight: bold;
     text-transform: uppercase;
     border-bottom: 3px solid #d2b478;
}

.card.gallery-card {
  height: 400px !important;
  overflow: hidden !important;
  border-radius: 8px;
  cursor: pointer;
}

.card.gallery-card .gallery-img {
  object-fit: cover;
  transition: transform 0.3s ease;
  height: 100%;
  width: 100%;
}

.gallery-card:hover .gallery-img {
  transform: scale(1.05);
}

.overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  color: #fff;
  text-align: center;
}

.overlay-text h4 {
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}